<!DOCTYPE html><html><head><meta charset="utf-8"><title>About</title><style></style></head><body id="preview">
<h1><a id="Jimterest_0"></a>Jimterest</h1>
<p>Jimterest is a social media pinterest clone written in Ruby, purely for fun and me to explore Ruby and the rails framework.</p>
<h1><a id="Features_4"></a>Features:</h1>
<ul>
<li>Create a personal account</li>
<li>Customise &amp; Edit your account</li>
<li>Add Text posts or image posts</li>
<li>Browse posts by all user’s or view a specific post.</li>
</ul>
<h3><a id="Tech_10"></a>Tech</h3>
<p>Jimterest uses a number of open source projects to work properly:</p>
<ul>
<li><a href="http://rubyonrails.org/">Ruby on Rails</a> - A web based framework forRuby</li>
<li><a href="http://getbootstrap.com/">Bootstrap</a> - Easy clean UI development</li>
<li><a href="https://github.com/plataformatec/devise">Devise</a> - Authentication library for Ruby</li>
<li><a href="https://github.com/thoughtbot/paperclip">Paperclip</a> - File attachment manager for ruby</li>
<li><a href="https://heroku.comp">Heroku</a> - Easy hosting and scaling</li>
<li><a href="https://aws.amazon.com/s3/">AWS S3</a> - Cloud storage for any images posted</li>
</ul>
</body></html>